<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Physics>
    <TimeScale>1.0</TimeScale>
    <MaxPhysIterations>4</MaxPhysIterations>
  </Physics>
  <ScreenWidth>1600</ScreenWidth>
  <ScreenHeight>1200</ScreenHeight>
  <ControllerInput>One</ControllerInput>
  <FillMode>TriangleList</FillMode>
</Settings>