<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Physics>
    <TimeScale>1.0</TimeScale>
    <MaxPhysIterations>8</MaxPhysIterations>
  </Physics>
  <FullScreen>false</FullScreen>
  <ScreenWidth>1600</ScreenWidth>
  <ScreenHeight>1200</ScreenHeight>
  <ControllerInput>One</ControllerInput>
  <FillMode Type="Microsoft.Xna.Framework.Graphics.PrimitiveType, Monogame.Framework">TriangleList</FillMode>
  <RenderMode>Deferred</RenderMode>
</Settings>